<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ycr.module.photo" >
    <application>
        <activity android:name="com.ycr.module.photo.chosen.ChosenPhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>

        <activity android:name="com.ycr.module.photo.camera.SubjectPhotoTakeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"/>

        <activity android:name=".preview.PreviewPhotoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"/>

        <activity android:name=".clip.PhotoClipActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"/>

        <activity android:name=".grid.PhotoBookGirdActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"/>
    </application>
</manifest>
