<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuchengren.demo"
    android:versionCode="1"
    android:versionName="1.01.001">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.ycr.module.base.DemoApplication"
        android:resizeableActivity="true">
        <!--全面屏适配，调整屏幕宽高比-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity android:name=".app.body.splash.SplashActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.body.main.MainActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".app.other.CallPhoneBackActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".app.other.RxAndroidActivity"/>

        <activity android:name=".app.test.TestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".app.other.ChangeThemeActivity"/>

        <activity android:name=".app.other.ImageEditActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".app.other.GridActivity"/>
    </application>

</manifest>